@import "https://fonts.googleapis.com/css?family=Roboto|Exo+2:300,400|Lato|Open+Sans|Roboto+Condensed";
html {
  font-size: 16px; }

body {
  margin: 0;
  padding: 0; }

.clear-fix {
  clear: both; }

@keyframes positionToggle {
  0% {
    opacity: 0; }
  20% {
    opacity: 1; }
  30% {
    opacity: 1; }
  50% {
    opacity: 0; }
  75% {
    opacity: 0; }
  100% {
    opacity: 0; } }
.header {
  width: 100%;
  padding: 5px 0; }

.header_default-theme {
  background-color: #80b412; }

.header__wrapper {
  width: 100%;
  /*positioning*/
  margin: auto; }

.social-icons {
  display: none;
  width: 170px;
  /*positioning*/
  vertical-align: top; }

.social-icons-item {
  /*positioning*/
  display: inline-block;
  margin-right: 12px; }

.social-icons-item__link {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  /*positioning*/
  position: relative;
  display: block; }

.social-icons-item__link_default-theme {
  background-color: white; }
  .social-icons-item__link_default-theme:hover .cls-1 {
    fill: #222222; }

.social-icons-item__svg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto; }

.social-icons-item_last-item {
  /*positioning*/
  margin-right: 0; }

.logo-and-title {
  text-align: center;
  /*positioning*/
  display: block;
  vertical-align: top; }

.logo-and-title__heading1 {
  font-family: 'Exo 2', sans-serif;
  font-size: 0.8125rem;
  /*positioning*/
  margin: 0;
  margin-bottom: 0; }

.logo-and-title__heading1_default-theme {
  color: white; }

.menu-collapse-button {
  display: block;
  /*positioning*/
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 25; }

.menu-collapse-button__bar {
  display: block;
  width: 30px;
  height: 4px;
  /*positioning*/
  margin-bottom: 4px; }

.menu-collapse-button__bar_default-theme {
  background-color: white; }

.menu {
  width: 300px;
  text-align: center;
  /*positioning*/
  display: block;
  position: absolute;
  top: 0;
  left: -300px;
  vertical-align: top;
  z-index: 20; }

.menu_default-theme {
  background: #80b412; }

.menu__menu-list {
  list-style: none;
  padding: 0;
  /*positioning*/
  margin: 0; }

.menu__menu-item {
  padding: 20px 0;
  border-bottom: 2px solid white;
  /*positioning*/
  display: block; }

.menu__menu-link {
  text-decoration: none;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1rem; }

.menu__menu-link_default-theme {
  color: white; }
  .menu__menu-link_default-theme:hover {
    color: #222222; }

.slider-wrapper {
  height: 300px;
  /*positioning*/
  position: relative; }

.slider-wrapper__slide {
  max-height: 200px;
  /*positioning*/
  position: absolute;
  right: 0;
  left: 0;
  margin: auto; }

/*animation*/
.slider-wrapper__slide:nth-child(1) {
  /*@extend %animation-properties;
  animation-delay: ($i - 1)*10s; */ }

.slider-wrapper__slide:nth-child(2) {
  /*@extend %animation-properties;
  animation-delay: ($i - 1)*10s; */ }

.slider-wrapper__slide:nth-child(3) {
  /*@extend %animation-properties;
  animation-delay: ($i - 1)*10s; */ }

.slider-wrapper__slide:nth-child(4) {
  /*@extend %animation-properties;
  animation-delay: ($i - 1)*10s; */ }

.slider-wrapper__image {
  object-fit: cover;
  width: 100%;
  max-height: 200px; }

.slider-navigation {
  width: 24px;
  /*positioning*/
  position: absolute;
  top: 50px;
  right: 0;
  bottom: 0;
  z-index: 5;
  margin: auto; }

.slider-navigation__button {
  display: block;
  padding: 2px 0px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  font-size: 0.875rem;
  line-height: 1.9; }

.slider-navigation__button_default-theme {
  background-color: #80b412;
  opacity: .4;
  color: white; }
  .slider-navigation__button_default-theme:hover {
    background-color: #d4d4d4; }

.slider-navigation__button_active {
  opacity: 1;
  color: #222222; }

.qualities {
  height: 33.33333%;
  text-align: center;
  /*positioning*/
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  margin: auto; }

.qualities_default-theme {
  background-color: #80b412;
  opacity: .9; }

.qualities-item {
  width: 100px;
  height: 100px;
  text-align: center;
  /*positioning*/
  position: relative;
  display: inline-block;
  vertical-align: top; }

.qualities-item-empty {
  height: 100%;
  /*positioning*/
  position: relative;
  display: inline-block; }

.qualities-item__icon-wrapper {
  max-width: 55.5px;
  border-radius: 27.75px;
  height: 55.5px;
  /*positioning*/
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  margin: auto;
  top: 15px; }

.qualities-item__vertical-line {
  height: 76px;
  width: 1px;
  /*positioning*/
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto; }

.qualities-item__icon-wrapper_default-theme {
  background-color: white; }

.qualities-item__svg {
  /*positioning*/
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto; }

.qualities-item__svg-good-service {
  width: 33px;
  height: 33px; }

.qualities-item__svg-high-perfomance {
  width: 29px;
  height: 29px; }

.qualities-item__svg-experience {
  width: 34.359px;
  height: 32.41425px; }

.qualities-item__heading {
  font-family: 'Exo 2', sans-serif;
  font-weight: 300;
  font-size: 0.75rem;
  /*positioning*/
  margin-top: 80px; }

.qualities-item__heading_default-theme {
  color: white; }

.qualities-item__heading_another-font-type {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 0.77344rem; }

.about-us__wrapper {
  width: 100%;
  text-align: center;
  /*positioning*/
  margin: auto; }

.about-us__horizontal-line {
  width: 15.625%;
  /*positioning*/
  display: inline-block;
  vertical-align: text-top; }

.about-us__horizontal-line_default-theme {
  border: 1px solid #222222; }

.about-us__heading {
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  font-size: 1.875rem;
  /*positioning*/
  display: inline-block;
  margin: 0 2%;
  margin-top: 3.60082%; }

.about-us__heading_default-theme {
  color: #222222; }

.video-wrapper {
  /*positioning*/
  display: block;
  margin-top: 20px; }

.video-wrapper__iframe {
  width: 100%;
  height: 56.06695vw; }

.about-us-description {
  max-width: 100%;
  padding: 0 5px;
  /*positioning*/
  display: block;
  vertical-align: top;
  margin-top: 33px; }

.about-us-description__text {
  font-family: 'Roboto', sans-serif;
  font-size: 0.875rem;
  line-height: 1.4;
  text-align: justify;
  /*positioning*/
  margin: 0;
  margin-bottom: 16px; }

.about-us-description__text_default-theme {
  color: #222222; }

.about-us-description__list {
  line-height: 1.4;
  padding: 0;
  list-style: none;
  /*positioning*/
  margin: 0; }

.about-us-description__number {
  width: 19px;
  height: 18px;
  padding: 0px 5px;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  /*positioning*/
  margin-right: 10px; }

.about-us-description__number_default-theme {
  background-color: #80b412;
  color: white; }

.about-us-description__list-item {
  font-family: 'Roboto', sans-serif;
  font-size: 0.875rem;
  font-weight: bold;
  text-align: left; }

.about-us-description__list-item_default-theme {
  color: #222222; }

.latest-news {
  background: #221e1b url("../images/wood_pattern.jpg") repeat left top;
  /*positioning*/
  margin-top: 37px;
  padding-bottom: 142px; }

.latest-news__wrapper {
  text-align: center;
  max-width: 972px;
  /*positioning*/
  padding-right: 2.05761%;
  padding-left: 2.05761%;
  margin: auto; }

.latest-news__horizontal-line {
  width: 15.625%;
  /*positioning*/
  display: inline-block;
  vertical-align: text-top; }

.latest-news__horizontal-line_default-theme {
  border: 1px solid white; }

.latest-news__heading {
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  font-size: 1.875rem;
  /*positioning*/
  display: inline-block;
  margin: 4.11523% 2% 3.49794%; }

.latest-news__heading_default-theme {
  color: white; }

.last-news-post,
.prelast-news-post {
  display: block;
  width: 100%;
  padding: 2.05761%;
  /*positioning*/
  position: relative;
  margin-right: -2.05761%;
  margin-left: -2.05761%;
  margin-bottom: 25px; }

.last-news-post_default-theme,
.prelast-news-post_default-theme {
  background-color: white; }

.last-news-post__image-wrapper {
  /*positioning*/
  float: left; }

.last-news-post__text-wrapper {
  cursor: pointer;
  /*positioning*/
  float: right; }

.prelast-news-post__image-wrapper {
  /*positioning*/
  float: right;
  margin-top: 2.05761%; }

.prelast-news-post__text-wrapper {
  cursor: pointer;
  /*positioning*/
  float: left; }

.last-news-post__image,
.prelast-news-post__image {
  width: 100%; }

.last-news-post__title,
.prelast-news-post__title {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 1.4375rem;
  line-height: 1;
  text-transform: uppercase;
  /*positioning*/
  margin: 0;
  text-align: left; }

.last-news-post__title_default-theme,
.prelast-news-post__title_default-theme,
.last-news-post__data_default-theme,
.prelast-news-post__data_default-theme,
.last-news-post__excerpt,
.prelast-news-post__excerpt {
  color: #222222; }

.last-news-post__data,
.prelast-news-post__data {
  font-family: 'Roboto', sans-serif;
  font-size: 0.75rem;
  font-style: italic;
  line-height: 2.167;
  text-align: left;
  /*positioning*/
  margin: 0; }

.last-news-post__excerpt,
.prelast-news-post__excerpt {
  font-family: 'Roboto', sans-serif;
  font-size: 0.875rem;
  line-height: 1.4;
  text-align: left;
  /*positioning*/
  margin: 0; }

.button-read-more {
  display: block;
  width: 98px;
  height: 30px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  line-height: 2.143;
  font-size: 0.875rem;
  text-transform: uppercase;
  text-decoration: none; }

.last-news-post__button-read-more {
  /*positioning*/
  float: right; }

.prelast-news-post__button-read-more {
  /*positioning*/
  float: left; }

.button-read-more_default-theme {
  color: white;
  background-color: #80b412; }
  .button-read-more_default-theme:hover {
    color: #80b412;
    background-color: white; }

.testimonials {
  overflow: hidden;
  /*positioning*/
  position: relative;
  z-index: 5;
  transform: skewY(-3deg);
  margin-top: -100px; }

.testimonials_default-theme {
  background-color: white; }

.testimonials__wrapper {
  width: 100%;
  text-align: center;
  /*positioning*/
  margin: auto;
  transform: skewY(3deg); }

.testimonials__horizontal-line {
  width: 15.625%;
  /*positioning*/
  display: inline-block;
  vertical-align: text-top; }

.testimonials__horizontal-line_default-theme {
  border: 1px solid #222222; }

.testimonials__heading {
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  font-size: 1.875rem;
  /*positioning*/
  display: inline-block;
  margin: 0 2%;
  margin-top: 3.60082%; }

.testimonials__heading_default-theme {
  color: #222222; }

.testimonials-slider {
  width: 500%;
  text-align: center;
  /*positioning*/
  margin: 20px -200% 21px;
  transform: skewY(3deg); }

.testimonial {
  width: 300px;
  margin: 5px 2px;
  transition: transform 2s;
  /*positioning*/
  display: inline-block; }

.testimonial_default-theme {
  border: 2px solid #80b412; }

.testimonial__recommender-photo-wrapper {
  /*positioning*/
  display: inline-block;
  margin: 10px;
  vertical-align: top; }

.testimonial__text-wrapper {
  /*positioning*/
  display: inline-block;
  margin: 10px; }

.testimonial__text {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.2;
  text-align: left;
  margin: 0; }

.testimonial__text_default-theme,
.testimonial__recommender_default-theme {
  color: #222222; }

.testimonial__recommender {
  font-family: 'Roboto', sans-serif;
  font-size: 0.9375rem;
  font-weight: bold;
  line-height: 1.2;
  /*positioning*/
  margin: 0;
  margin-top: 10px;
  text-align: left; }

.recommenders-icons-container {
  transform: skewY(3deg);
  text-align: center; }

.recommender-icon-container {
  width: 56px;
  height: 56px;
  overflow: hidden;
  border: 3px solid #222222;
  border-radius: 50%;
  cursor: pointer;
  background-size: contain;
  /*positioning*/
  display: inline-block;
  vertical-align: middle; }

.recommender-icon-container__photo {
  height: 100%; }

.recommender-icon-container-active_default-theme {
  width: 72px;
  height: 72px;
  margin: 0 32px;
  border: 3px solid #80b412;
  border-radius: 50%;
  background-color: white; }

.footer {
  background: #221e1b url("../images/wood_pattern.jpg") repeat left top;
  overflow: auto;
  /*positioning*/
  position: relative;
  z-index: 10;
  margin-top: 40px; }

.footer__wrapper {
  text-align: center;
  max-width: 972px;
  /*positioning*/
  padding-right: 2.05761%;
  padding-left: 2.05761%;
  margin: auto; }

.contacts-container {
  width: 228px;
  /*positioning*/
  display: inline-block;
  vertical-align: top;
  margin-right: 17px;
  margin-left: 3px; }

.contacts-container__heading,
.find-us__heading,
.write-us__heading {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.438;
  text-transform: uppercase;
  /*positioning*/
  margin-bottom: 19px;
  margin-top: 25px; }

.contacts-container__heading_default-theme,
.find-us__heading_default-theme,
.write-us__heading_default-theme,
.contacts-container__address_default-theme,
.contacts-container__contacts_default-theme,
.contacts-container__tel-to-call_default-theme {
  color: #d4d4d4; }

.contacts-container__address,
.contacts-container__contacts {
  font-family: 'Roboto', sans-serif;
  font-size: 0.875rem;
  line-height: 1.7;
  font-style: normal; }

.contacts-container__tel-to-call {
  text-decoration: none; }

.find-us {
  width: 100%;
  /*positioning*/
  display: inline-block;
  vertical-align: top;
  margin-right: 13px; }

.find-us__google-map {
  width: 100%;
  height: 177px;
  /*positioning*/
  margin-bottom: 30px; }

.write-us {
  /*positioning*/
  vertical-align: top;
  display: inline-block; }

.write-us__input-name,
.write-us__input-email {
  width: 208px;
  height: 24px;
  font-family: 'Roboto', sans-serif;
  font-size: 0.875rem;
  line-height: 1.643;
  padding: 0 8px;
  /*positioning*/
  margin-bottom: 4px; }

.write-us__textarea {
  width: 208px;
  height: 76px;
  font-family: 'Roboto', sans-serif;
  font-size: 0.875rem;
  padding: 0 8px; }

.write-us__input-name_default-theme,
.write-us__input-email_default-theme,
.write-us__textarea_default-theme {
  border: 1px solid #80b412;
  background-color: rgba(255, 255, 255, 0.8);
  color: #222222; }

.write-us__input-submit {
  width: 70px;
  height: 30px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  line-height: 2.143;
  font-size: 0.875rem;
  text-transform: uppercase;
  padding: 0;
  border: none;
  /*positioning*/
  float: right; }

.write-us__input-submit_default-theme {
  color: white;
  background-color: #80b412; }
  .write-us__input-submit_default-theme:hover {
    color: #80b412;
    background-color: white; }

.copyright-container__copyright {
  font-family: 'Roboto', sans-serif;
  font-size: 0.6875rem;
  line-height: 2.091; }

.copyright-container {
  text-align: center; }

.copyright-container__copyright_default-theme,
.copyright-container__copyright-link_default-theme {
  color: #d4d4d4; }

@media (min-width: 48em) {
  /*HEADER*/
  .social-icons {
    margin-left: 15px;
    /*positioning*/
    display: block; }

  .logo-and-title {
    /*positioning*/
    float: right;
    margin-top: -30px;
    margin-right: 65px; }

  .logo-and-title__heading1 {
    margin-bottom: 19px; }

  .menu {
    width: auto;
    text-align: left;
    /*positioning*/
    position: static;
    margin-top: 20px; }

  .menu__menu-item {
    padding: 0;
    border-bottom: none;
    /*positioning*/
    display: inline;
    margin-left: 15px; }

  .menu-collapse-button {
    display: none; }

  /*SLIDER*/
  .slider-wrapper {
    height: 400px; }

  .slider-wrapper__slide {
    max-height: 400px;
    /*positioning*/
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto; }

  .slider-wrapper__image {
    max-height: 400px; }

  .slider-navigation {
    height: 28%;
    /*positioning*/
    top: 0; }

  .qualities {
    width: 768px;
    height: 25%; }

  .qualities-item-empty {
    /*positioning*/
    margin-left: 70px;
    margin-right: 70px; }

  /*ABOUT US*/
  .video-wrapper__iframe {
    width: 478px;
    height: 268px; }

  .about-us-description {
    width: 478px;
    /*positioning*/
    margin-left: auto;
    margin-right: auto; }

  /*LAST NEWS*/
  .last-news-post__image-wrapper {
    width: 40%; }

  .last-news-post__text-wrapper {
    width: 58%; }

  .prelast-news-post__image-wrapper {
    width: 40%; }

  .prelast-news-post__text-wrapper {
    width: 58%; }

  /*TESTIMONIALS*/
  .testimonial {
    width: 662px;
    height: 158px; }

  .testimonial__text-wrapper {
    width: 470px;
    height: 100%; }

  .testimonial__text {
    font-size: 1.375rem; }

  .testimonial__recommender {
    font-size: 1.25rem; }

  /*FOOTER*/
  .find-us {
    width: auto; } }
@media (min-width: 65em) {
  /*HEADER*/
  .header {
    padding: 0; }

  .header__wrapper {
    max-width: 972px;
    padding-right: 20px;
    padding-left: 20px; }

  .social-icons {
    /*positioning*/
    display: inline-block;
    margin-left: 0;
    margin-top: 35px;
    margin-right: 160px;
    margin-bottom: 25px; }

  .logo-and-title {
    text-align: left;
    /*positioning*/
    float: none;
    display: inline-block;
    margin-top: 22px;
    margin-right: 88px; }

  .menu {
    /*positioning*/
    display: inline-block;
    margin-top: 43px; }

  /*SLIDER*/
  .slider-wrapper {
    height: 600px; }

  .slider-wrapper__slide {
    max-height: 600px; }

  .slider-wrapper__image {
    max-height: 600px; }

  .qualities {
    width: 1012px;
    height: 25%;
    text-align: left; }

  .qualities-item {
    width: 146px;
    height: 100px;
    /*positioning*/
    margin-left: 100px;
    margin-top: 5px; }

  .qualities-item-empty {
    /*positioning*/
    margin-left: 91px;
    margin-top: -3px;
    margin-right: -13px; }

  .qualities-item__icon-wrapper {
    max-width: 74px;
    border-radius: 37px;
    height: 74px;
    /*positioning*/
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto; }

  .qualities-item__svg-good-service {
    width: 43px;
    height: 43px; }

  .qualities-item__svg-high-perfomance {
    width: 38px;
    height: 38px; }

  .qualities-item__svg-experience {
    width: 45.812px;
    height: 43.219px; }

  .qualities-item__heading {
    font-size: 1rem;
    /*positioning*/
    margin-top: 100px; }

  .qualities-item__heading_another-font-type {
    font-size: 1.125rem; }

  /*ABOUT US*/
  .about-us__wrapper {
    max-width: 972px;
    padding-right: 20px;
    padding-left: 20px; }

  .about-us__horizontal-line {
    width: 370px; }

  .about-us__heading {
    font-size: 2.5rem; }

  .video-wrapper {
    /*positioning*/
    display: inline-block;
    margin-right: 20px;
    margin-top: 33px; }

  .about-us-description {
    max-width: 48%;
    padding: 0;
    /*positioning*/
    display: inline-block;
    vertical-align: top;
    margin: 0;
    margin-top: 33px; }

  .about-us-description__text {
    /*positioning*/
    margin-bottom: 26px; }

  .about-us-description__list {
    line-height: 2.07; }

  /*LATEST NEWS*/
  .latest-news__horizontal-line {
    width: 330px; }

  .latest-news__heading {
    font-size: 2.5rem; }

  .last-news-post__image-wrapper {
    width: auto;
    /*positioning*/
    margin-right: 20px; }

  .last-news-post__text-wrapper {
    width: auto;
    max-width: 470px; }

  .prelast-news-post__image-wrapper {
    width: auto;
    /*positioning*/
    margin-top: 0;
    margin-left: 20px; }

  .prelast-news-post__text-wrapper {
    width: auto;
    max-width: 470px; }

  .last-news-post__title,
  .prelast-news-post__title {
    margin-bottom: 10px; }

  .last-news-post__excerpt,
  .prelast-news-post__excerpt {
    font-size: 1rem;
    line-height: 1.625; }

  .last-news-post__button-read-more {
    /*positioning*/
    position: absolute;
    bottom: 20px;
    right: 20px; }

  .prelast-news-post__button-read-more {
    /*positioning*/
    position: absolute;
    bottom: 20px; }

  /*TESTIMONIALS*/
  .testimonials__wrapper {
    max-width: 972px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 35px; }

  .testimonials__horizontal-line {
    width: 320px; }

  .testimonials__heading {
    font-size: 2.5rem; }

  /*FOOTER*/
  .footer__wrapper {
    text-align: left; }

  .find-us__google-map {
    width: 475px; } }

/*# sourceMappingURL=style.css.map */
