html {
	font-size: 16px;
	//overflow-x: hidden; 
}
body {
	margin: 0;
	padding: 0;
	//overflow-x: hidden; 
}
.clear-fix {
	clear: both;
}

@keyframes positionToggle {
  0% {
    opacity: 0; }
  20% {
    opacity: 1; }
  30% {
    opacity: 1; }
  50% {
    opacity: 0; }
  75% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/placeholders";
@import "layout/header";
@import "layout/slider";
@import "layout/about-us";
@import "layout/latest-news";
@import "layout/testimonials";
@import "layout/footer";
@import "layout/media-queries";

@import "https://fonts.googleapis.com/css?family=Roboto|Exo+2:300,400|Lato|Open+Sans|Roboto+Condensed";