html {
	font-size: 16px;
	//overflow-x: hidden; 
}
body {
	margin: 0;
	padding: 0;
	//overflow-x: hidden; 
}
.clear-fix {
	clear: both;
}

@import "helpers/variables";
@import "helpers/mixins";
@import "layout/header";
@import "layout/slider";
@import "layout/about-us";
@import "layout/latest-news";
@import "layout/testimonials";
@import "layout/footer";
@import "layout/media-queries";
